<div class="jumbotron">
    <h1>UPS! Algo ocurrió</h1>
    <p>No se pudo cargar lo que sea que se estaba cargando</p>
    <p>El server dijo: <%= message %></p>
    <br>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</div>
